#dam{
    width: 1100px;
    height:300px;
    box-shadow: 10px ;
    font: 15px;
}
#chart{
    overflow:hidden ;
}


@media (max-width:700px) {
    #dam{
     width:600px;
     height:400px;
    
    } 
}
      

@media (max-width:500px) {
       #dam{
        width:330px;
        height:400px;
       
       } 
}