#dam{
    height:300px;
    width:100%;
   box-shadow: 10px ;
    font: 15px;
}
#chart{
    overflow:hidden ;
}


@media (max-width:900px) {
    #dam{
     width:600px;
     height:300px;
    
    } 
}
      

@media (max-width:500px) {
       #dam{
        width:330px;
        height:300px;
       
       } 
}